$blue: #3A50FF;
$lightblue: #6A7AFA;
$lightgreen: #54D880;
$white: #ffffff;
$kindawhite: #F6F6F6;
$neutrallightgray:#D4D4D4;
$lightestblue: #EFF1FF;
$lightgray: #969696;
$gray: #5B5B5B;
$black: #000000;